body {
  font-size: 12px;
  line-height: 1;
  color: #666;
  cursor: default;
  font-family: sans-serif;
  background-color: #f0f0f0;
}
.title-icon {
  color: #ff4733;
  font: 700 32px/63px OpenSans;
  font-family: sans-serif;
  font-size: 29px;
}
.title-text {
  color: #999;
  margin: 12px 12px 0;
  font-size: 18px;
}
.title-nav {
  display: flex;

  align-items: center;
  height: 100%;
  margin: 0 auto;
  /* float: left; */
}

.float-bar {
  /* border: 2px solid black; */
}

.first-float {
  display: flex;
  height: 69px;
  background: linear-gradient(94deg, #ff4733, #ff644d);
}
.first-float > div {
  width: 120px;
  height: 69px;
  padding: 0 5px;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.first-float > div:hover {
  background: rgba(0, 0, 0, 0.08);
  position: relative;
}

#font {
  padding-top: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
  font-size: 19px;
  font-weight: lighter;
}

#float-list {
  display: flex;
  background: #fff;
  font-family: OpenSans, Arial;
  font-size: 12px;
  line-height: 1;
  color: #666;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 4px 0 12px;
  list-style: none;
  font-size: 12px;
  line-height: 1;
  color: rgb(36, 34, 34);
  background-color: #f0f0f0;
}

.list-item a {
  font-size: 12px;
  line-height: 1;
  color: rgb(47, 46, 46);
  /* border: 2px solid blue; */
  margin-left: 10px;
  margin-bottom: 5px;

  display: block;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 12px;
  background: #c1c1c3;
  padding: 0 10px;
  text-decoration: none;
  
}

a:hover {
  background-color: red;
  color: white;
}

#quick-deal {
  border: 2px solid rgb(255, 158, 94);
  height: fit-content;
  background-color: #ff9f80;
  width: 90%;
  margin: auto;
  border-radius: 4px;
}
#quick-deal > .counter {
  /* border: 2px dotted blue; */
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 57px;
  gap: 10px;
}

.counter > div {
  display: flex;
}
.counter > div:first-child {
  background-color: rgba(0, 0, 0, 0);

  background-image: url("https://css.banggood.in/web/src/img/flashdeals/snap-up.png?v=90da394");

  width: 128px;
  height: 56px;
  background-size: cover;
}

#ctext {
  margin-right: 48px;
  margin-left: 14px;
  cursor: pointer;
  min-width: 76px;
  height: 38px;
  font-size: 12px;
  font-family: OpenSans;
  line-height: 19px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  display: block;
  margin-bottom: 2px;
}

#demo {
  margin: auto;
}

.bottom-sale {
  display: grid;
  /* border: 2px dotted red; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 184px;
  gap: 20px;
  justify-content: space-around;
  margin: 16px;

  /* background-color: white; */
}

.bottom-sale > div {
  background-color: white;
  border-radius: 4px;
}

#product {
  display: grid;
  grid-template-columns: repeat(5, 221px);
  grid-template-rows: repeat(3, fit-content);
  gap: 20px;
  justify-content: space-between;
  margin: 16px;
  background-color: #f0f0f0;
  /* border: 2px dotted red; */

  /* background: #f5f6f8; */
}
#product > div {
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
}

#product > div > img {
  display: block;
  position: relative;
  left: 5px;
  height: 201px;
  width: 201px;
  background: rgba(230, 28, 28, 0.04);
  border-radius: 3px;
  /* border: 2px solid #656d78; */
}

#info-wrap > a {
  text-decoration: none;
  font-size: 12px;
  color: #333;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 8px 0;
  font-weight: 400;
  font-family: sans-serif;
  max-height: 36px;
  line-height: 18px;
}

#price > p {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #ff4733;
  cursor: pointer;
}

.pre_price {
  text-decoration: line-through;
  font-size: 13px;
  font-weight: 400;
  color: #999;
}
.pre_off {
  margin-top: -10px;
}

.sold-progress {
  position: relative;
  height: 8px;
  width: 125px;
  overflow: hidden;
  border-radius: 20px;
  background: #eee;
  background: linear-gradient(#ff644d, #ff974d);
}

#qty_sold {
  margin-top: -4px;
  font-size: 13px;
  margin-left: 6px;
}

.count-timer {
  font-size: 13px;
  color: #999;
}

#info-wrap > a:hover {
  font-weight: bold;
  background-color: white;
}
#frame{
  height: 500px;
  width: 100%;
}
